#roomGui {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 0;

    #chatBubbleContainer {
        position: absolute;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;

        .chatBubble {
            position: absolute;
            border: 1px solid #000;
            border-radius: 7px;
            max-width: 80vw;
          //  word-break: break-all; // todo check problem with many devices
            background:linear-gradient(180deg, rgba(255,255,255,1) 0%, rgba(235,235,235,1) 50%, rgba(255,255,255,1) 100%);
            display: flex;
            flex-direction: row;
            overflow: hidden;
            line-height: 22px;
            transition: top 0.4s ease-out;
            cursor:pointer;

            .chatBubbleContainer {
                height: 100%;
                display: flex;
                flex-direction: row;

                p {
                    flex: 2;
                }

                .playerHeadContainer 
                {
                    background-color: #bdbdbd;
                    width: 28px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    border-right: 2px solid #585858;
                    padding: 3px 4px;
                    margin-right: 3px;

                    img {
                        position: absolute;
                        left: -2px;
                        top: -6px;
                    }
                }
            }
        }

        .chatBubbleWhisper {
            color: #636363;
            font-style: italic;
        }
        .chatBubbleShout {
            font-weight: bold; 
        }

        .chatColorYellow {
            color: yellow;
        }



    }

    #itemIcon {
        position: fixed;
    }

    .roomObjectsContainer {
        width: 100%;
        height: 100%;

        #roomPointer {
            pointer-events: none;
            display: none;
            position: absolute;
        }

        #roomCanvasContainer {
            position: absolute;
            top:50%;
            left:50%;
            transform: translate(-50%, -50%);

            #floor, #wall, #door, #floorHit, #roomPointer {
                position: absolute;
            }
        }

    }

}

#roomSettingsBox {
    padding: 20px 30px;
    position:absolute;
    left: 20px;
    bottom: 120px;
    background-color: #0b2438;
}