@-moz-keyframes spin { 
    100% { -moz-transform: rotate(360deg); } 
}
@-webkit-keyframes spin { 
    100% { -webkit-transform: rotate(360deg); } 
}
@keyframes spin { 
    100% { 
        -webkit-transform: rotate(360deg); 
        transform:rotate(360deg); 
    } 
}

.bottomBar {
    position: absolute;
    width: 100%;
    bottom: 0;
    left: 0;
    height: 85px;
    background-color: transparent;
    z-index: 10000;

    & .chatInput {
        position: relative;
        display: block;
        padding: 10px 25px;
        font-size: 1.2rem;
        outline: 0;
        margin: 0 auto;
        background-color: #fff;
        border-radius: 12px;
        height: 53px;
        margin-top: 15px;
        width: calc(50% - 630px);
        border: 2px solid rgba(0,0,0,.2);
        box-shadow: 2px 3px 0 rgba(0,0,0,.15);
        pointer-events: all;
        color:#000;
    }

    .muted {
        color: red;
    }

    & .rightOptions {
        right: 80px;
    }

    & .leftOptions {
        left: 10px;
    }

    & .rightOptions, .leftOptions {
        position: absolute;
        top:0;
        min-width: 225px;
        text-align: center;
        margin-bottom: 30px;

        & .menuButton {
            height: 55px;
            width: 55px;
            display: inline-block;
            margin:0 7px;
            border-radius: 50%;
            position: relative;
            pointer-events:all;
            text-align:center;
            padding: 8px;
            -webkit-box-shadow: 0px 0px 23px -2px rgba(0,0,0,0.26); 
            box-shadow: 0px 0px 23px -2px rgba(0,0,0,0.26);
            border: 1px solid rgba(0,0,0,.35);
            background-color: rgb(90, 126, 215);
            cursor: pointer;
            outline:none;

            &:hover {
                border: 1px solid rgba(0,0,0,.65);
            }

            & .img {
                background-position: center;
                background-repeat: no-repeat;
                width:40px;
                height:36px;
                filter:drop-shadow(2px 3px 0 rgba(0,0,0,.15));
                box-shadow: 0px 0px 23px -2px rgba(0,0,0,0.26);

            }

            &.inventory {
                background-color: rgb(63, 141, 222);
                position: absolute;
                transform: translate(-4.8em, -4.3em);
            }
            &.navigator {
                background-color: rgb(46, 148, 85);
                position: absolute;
                transform: translate(-0.5em, -3em);
            }
            &.catalog {
                background-color: rgb(217, 176, 32);
                padding-top: 5px;
                padding-left: 9px;
            }

            &.navigator .img {
                background-image: url('~@/assets/images/bottom-bar/navigator.png');
            }

            &.catalog .img {
                background-image: url('~@/assets/images/bottom-bar/catalog.png');
            }

            &.inventory .img {
                background-image: url('~@/assets/images/bottom-bar/inventory.png');
            }

            &.friends {
                padding: 5px;
                line-height: 4.6;
            }

            &.settings .img {
                background-image: url('~@/assets/images/bottom-bar/settings.png');
            }

            &.avatar {
               background-color: rgb(97, 80, 155);
               height: 75px;
               width: 75px;
               padding-right: 5px;
            }
        }
        
    }


}
